@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body {
  margin: 0;
}

main {
  padding: 100px;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

.italics {
  font-style: italic;
}

.blog {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.blog-body {
  display: flex;
  flex: 1;
}

.blog-content {
  flex: 1;
  line-height: 1.75em;
  text-decoration: none;
}

.blog-nav {
  display: flex;
  flex-direction: column;
  /* 23em is the width of the column */
  flex: 0 0 23em;
  /* put the nav on the left */
  order: -1;
  padding-top: 30px;
  background-color: hsla(40, 2%, 50%, 0.5);
  box-sizing: border-box;
  justify-content: center;
}

.blog-nav-content {
  margin: 0 auto auto;
}

.blog-nav img {
  align-self: center;
}

.blog-nav ul {
  display: inline;
  list-style: none;
  line-height: 1em;
}

.blog-nav a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.blog-avatar {
  margin-top: 20px;
  flex: 0 0 10em;
}
