.blog {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.blog-body {
  display: flex;
  flex: 1;
}

.blog-content {
  flex: 1;
}

.blog-nav, .blog-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.blog-nav {
  /* put the nav on the left */
  order: -1;
}

main {
  padding: 50px;
}
