html {
    min-height: 100%;
    }
    
body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
    
.site-header {
    display: flex;
    padding: 0 1em;
}

.site-nav--main {
    display: flex;
    margin: auto 0 auto auto;
}

.site-nav--main a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: orange;
    font-size: 20px;
    }
    
.site-content__header {
    display: flex;
    padding: 1em;
    color: black;
    text-align: center;
    justify-content: center;
}

.site-content__header-title {
    margin: auto;
    color: white;
}

.site-content--banner .site-content__header {
    background-image: url(https://images1.westword.com/imager/u/original/9078684/concourse-daniellelirette006.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 50vh;
    flex-direction: column;
    text-align: center;
    padding-right: 50vw;
}

.site-content--banner .site-content__header-title {
    font-weight: normal;
}

.site-content__header-title_uppercased{
    display: flex;
    text-align: center;
}

.site-content--banner .button {
    margin: 1em auto;
    font-size: 1.6em;
    width: 40%;
}


.button {
    display: block;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.5em 1em;
}

.info-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.info-bar__item {
    flex-basis: 50%;
    flex-grow: 0;
}

.info-bar__item h2 {
    margin-top: 0;
}

.insta-group {
    margin-left: auto;
}

.insta-pic {
    max-width: 75px;
    }

.food-item-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20%;
}

.food-item {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin: 0 10%;
}

.food-item__title {
    display: flex;
    margin-bottom: 0;
    }
.food-item__price {
    margin-left: auto;
}

.food-item__description {
    margin-top: 0;
}

.site-footer {
    display: flex;
    margin-top: auto;
    padding: 0 1em;
    background-color: white;
    color: black;
}

.site-nav--social {
    margin: auto 0 auto auto;
    }
.site-nav--social a {
    display: inline-block;
    margin: 0.5em;
    text-decoration: none;
    color: black;
    }
